.u-section-1 {
  background-image: url("images/pexels-photo-5088008.webp");
}

.u-section-1 .u-sheet-1 {
  min-height: 539px;
}

.u-section-1 .u-group-1 {
  width: 507px;
  min-height: 346px;
  margin: 60px 308px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 5px 0 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0 8px rgba(128,128,128,1);
  font-size: 5rem;
  font-weight: 700;
  background-image: none;
  margin: 117px 271px 0 12px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  margin: -88px 12px 0 284px;
}

.u-section-1 .u-shape-1 {
  width: 167px;
  height: 246px;
  margin: -141px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 144px;
  height: 181px;
  margin: -213px 12px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-1 {
    width: 425px;
    min-height: 280px;
    margin-top: 165px;
    margin-right: 252px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.375rem;
    width: auto;
    margin-top: 81px;
    margin-right: 202px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -96px;
    margin-right: 9px;
    margin-left: 232px;
  }

  .u-section-1 .u-shape-1 {
    width: 149px;
    height: 191px;
    margin-top: 7px;
  }

  .u-section-1 .u-image-1 {
    width: 131px;
    height: 164px;
    margin-top: -177px;
    margin-right: 9px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-1 .u-group-1 {
    width: 479px;
    min-height: 197px;
    margin-top: 226px;
    margin-right: 95px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 54px;
    margin-right: 259px;
    margin-left: 14px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: -87px;
    margin-right: -20px;
    margin-left: 261px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 106px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 29px;
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-group-1 {
    width: 331px;
    min-height: 211px;
    margin-top: 133px;
    margin-right: 92px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 61px;
    margin-right: 161px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -78px;
    margin-right: 18px;
    margin-left: 171px;
  }

  .u-section-1 .u-shape-1 {
    width: 140px;
    height: 179px;
    margin-top: -22px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -171px;
    margin-right: 18px;
    margin-bottom: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-1 .u-group-1 {
    width: 367px;
    min-height: 316px;
    margin-top: 214px;
    margin-left: -13px;
    margin-right: -13px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 109px;
    margin-right: 218px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -81px;
    margin-right: -12px;
    margin-left: 212px;
  }

  .u-section-1 .u-shape-1 {
    width: 107px;
    height: 143px;
    margin-top: 121px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 98px;
    height: 126px;
    margin-top: -134px;
    margin-right: 5px;
    margin-bottom: 16px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 331px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 24px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 283px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
}

.u-section-2 .u-icon-1 {
  height: 38px;
  width: 38px;
  display: block;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 17px 30px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 4px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 283px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-2 .u-icon-2 {
  height: 38px;
  width: 38px;
  display: block;
  margin: 30px 305px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 17px 30px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 -10px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 283px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 30px;
}

.u-section-2 .u-icon-3 {
  height: 38px;
  width: 38px;
  display: block;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 17px 30px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 4px 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 25px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 24px;
    margin-left: 1px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 252px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 25px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 25px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 348px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 14px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 19px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 19px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 6px;
    margin-right: 8px;
    margin-left: 2px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 19px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 19px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 14px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 15px;
    margin-right: 14px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 28px;
    margin-right: 15px;
    margin-left: 1px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 14px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 0;
    margin-right: 488px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 14px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 14px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 14px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: 145px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 17px;
    margin-right: 145px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 305px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 15px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 15px;
    margin-right: 9px;
    margin-left: 1px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 14px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 0;
    margin-right: 293px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 15px;
    margin-right: 91px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 15px;
    margin-right: 9px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 777px;
}

.u-section-3 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  height: 476px;
  object-position: 50% 12.04%;
  background-position: 50% 12.04%;
  filter: brightness(0.5);
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 152px;
  margin: -368px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 19px 20px 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -8px auto 31px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 515px;
  background-image: none;
}

.u-section-3 .u-image-2 {
  height: 345px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px 141px 0 20px;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 539px;
}

.u-section-3 .u-image-3 {
  height: 345px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 13px 183px 0 20px;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  margin: 19px 20px 0;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 515px;
}

.u-section-3 .u-image-4 {
  height: 345px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px 179px 0 20px;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  margin: 21px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 776px;
  }

  .u-section-3 .u-image-1 {
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 470px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-3 .u-image-2 {
    height: 284px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 94px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-3 .u-image-3 {
    height: 284px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-left: 16px;
    margin-right: 137px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 425px;
  }

  .u-section-3 .u-image-4 {
    height: 284px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-left: 16px;
    margin-right: 132px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 610px;
  }

  .u-section-3 .u-image-1 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 360px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 10px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 21px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-left: 12px;
    margin-right: 64px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-left: 12px;
    margin-right: 59px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1059px;
  }

  .u-section-3 .u-image-1 {
    height: 349px;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 338px;
    margin-top: -242px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-2 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 18px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1578px;
  }

  .u-section-3 .u-image-1 {
    height: 343px;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 283px;
    margin-top: -343px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 36px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -33px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-3 .u-image-2 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 309px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-top: 11px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    height: 309px;
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 12px;
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 406px;
}

.u-section-4 .u-text-1 {
  margin: 82px 852px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 44px 0 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/muhammed.jpg");
  min-height: 260px;
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 260px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 0 20px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 20px 0 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  margin: 10px 20px 0 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 20px;
  min-width: 16px;
  margin: 10px auto 0 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-image-2 {
  background-image: url("images/photo5987689172816735864.jpg");
  min-height: 260px;
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  min-height: 260px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 20px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 20px 0 0;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  margin: 10px 20px 0 0;
}

.u-section-4 .u-social-icons-2 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 20px;
  min-width: 16px;
  margin: 10px auto 0 0;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 652px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 214px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-text-3 {
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-4 .u-image-2 {
    min-height: 214px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 214px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-text-6 {
    margin-right: 16px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 432px;
  }

  .u-section-4 .u-image-1 {
    min-height: 492px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-4 .u-image-2 {
    min-height: 492px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1917px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 252px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 738px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 11px;
    margin-right: 20px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 9px;
  }

  .u-section-4 .u-image-2 {
    min-height: 718px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 9px;
  }

  .u-section-4 .u-text-7 {
    position: relative;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1370px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 67px;
    margin-right: 52px;
  }

  .u-section-4 .u-image-1 {
    min-height: 465px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-right: 6px;
  }

  .u-section-4 .u-image-2 {
    min-height: 468px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-6 {
    position: relative;
    margin-right: 6px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 6px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 260px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/pp.jpg");
  min-height: 260px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 260px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 0 20px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 53px 20px 0 0;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  margin: 10px 20px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 20px;
  min-width: 16px;
  margin: 10px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-image-2 {
  background-image: url("images/mutlu.jpg");
  min-height: 260px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-4 {
  background-image: none;
  min-height: 260px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 20px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 20px 0 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 0.875rem;
  margin: 10px 20px 0 0;
}

.u-section-5 .u-social-icons-2 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 20px;
  min-width: 16px;
  margin: 10px auto 0 0;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 214px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 16px;
  }

  .u-section-5 .u-image-2 {
    min-height: 214px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 214px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 16px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-5 .u-image-1 {
    min-height: 492px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-5 .u-image-2 {
    min-height: 492px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1843px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 738px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 9px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-right: 20px;
  }

  .u-section-5 .u-image-2 {
    min-height: 738px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 25px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-6 {
    position: relative;
    margin-top: 5px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-5 .u-image-1 {
    min-height: 465px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 8px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-5 .u-image-2 {
    min-height: 465px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
    margin-right: 6px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 6px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 260px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/hakan.jpg");
  min-height: 260px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 260px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 0 0 20px;
}

.u-section-6 .u-text-1 {
  margin-left: 0;
  margin-right: 20px;
  font-weight: 700;
  font-size: 1.875rem;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 0.875rem;
  margin: 10px 20px 0 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 20px;
  min-width: 16px;
  margin: 10px auto 20px 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-image-2 {
  background-image: url("images/IMG_20181028_131812_614.jpg");
  min-height: 260px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-4 {
  background-image: none;
  min-height: 260px;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 20px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 20px 0 0;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 0.875rem;
  margin: 10px 20px 0 0;
}

.u-section-6 .u-social-icons-2 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 20px;
  min-width: 16px;
  margin: 10px auto 0 0;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 214px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 16px;
  }

  .u-section-6 .u-image-2 {
    min-height: 214px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 214px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 16px;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 16px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-6 .u-image-1 {
    min-height: 492px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-6 .u-image-2 {
    min-height: 492px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 13px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 13px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2063px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 821px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-right: 9px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-right: 20px;
  }

  .u-section-6 .u-image-2 {
    min-height: 825px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 9px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 9px;
  }

  .u-section-6 .u-text-5 {
    position: relative;
    margin-right: 9px;
  }

  .u-section-6 .u-text-6 {
    position: relative;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1405px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 510px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-6 .u-image-2 {
    min-height: 512px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 6px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 1px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-right: 6px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 997px;
}

.u-section-7 .u-group-1 {
  width: 570px;
  min-height: 179px;
  margin: 35px auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 0 25px 0 15px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 43px;
}

.u-section-7 .u-image-1 {
  background-image: url("images/WhatsAppImage2018-11-04at22.47.03.jpeg");
  min-height: 190px;
  background-position: 50% 50%;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 558px;
}

.u-section-7 .u-container-layout-3 {
  padding-right: 20px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.u-section-7 .u-text-3 {
  margin: 18px 0 0 20px;
}

.u-section-7 .u-layout-cell-3 {
  order: 1;
  min-height: 445px;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-7 .u-text-5 {
  margin: 35px 0 0;
}

.u-section-7 .u-image-2 {
  background-image: url("images/photo5961065928974250685.jpg");
  min-height: 303px;
  background-position: 84.73% 45.98%;
  background-size: auto 110%;
}

.u-section-7 .u-container-layout-5 {
  padding: 40px 0 35px;
}

.u-section-7 .u-image-3 {
  background-image: url("images/photo5959536452465437707.jpg");
  min-height: 206px;
  background-position: 50% 50%;
}

.u-section-7 .u-layout-cell-6 {
  min-height: 542px;
}

.u-section-7 .u-text-6 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
}

.u-section-7 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-7 .u-group-1 {
    width: 470px;
    margin-top: 0;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-image-1 {
    min-height: 199px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 16px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 16px;
  }

  .u-section-7 .u-text-3 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 495px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 37px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-7 .u-image-2 {
    min-height: 316px;
    background-position: 81.08% 45.98%;
    background-size: auto 105%;
  }

  .u-section-7 .u-image-3 {
    min-height: 215px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 428px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-7 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-7 .u-group-1 {
    width: 360px;
    margin-top: 1px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 34px;
  }

  .u-section-7 .u-image-1 {
    min-height: 209px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 13px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-left: 13px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 13px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-left: 13px;
    position: relative;
  }

  .u-section-7 .u-image-2 {
    min-height: 331px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-image-3 {
    min-height: 225px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1670px;
  }

  .u-section-7 .u-group-1 {
    width: 338px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-7 .u-image-1 {
    min-height: 199px;
    order: 1;
  }

  .u-section-7 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 9px;
    margin-left: 9px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 9px;
  }

  .u-section-7 .u-layout-cell-3 {
    order: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 59px;
    margin-right: 75px;
    margin-left: 7px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 9px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-7 .u-image-2 {
    min-height: 263px;
    background-position: 50% 50%;
    order: 1;
  }

  .u-section-7 .u-container-layout-5 {
    padding-bottom: 80px;
  }

  .u-section-7 .u-image-3 {
    min-height: 215px;
    order: 1;
  }

  .u-section-7 .u-layout-cell-6 {
    order: 0;
  }

  .u-section-7 .u-text-6 {
    margin: 68px 9px 0;
  }

  .u-section-7 .u-text-7 {
    margin: 15px 9px 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1631px;
  }

  .u-section-7 .u-group-1 {
    width: 283px;
    min-height: 44px;
    margin-top: 60px;
    margin-right: 57px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -17px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 71px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-image-1 {
    min-height: 164px;
    order: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -221px;
    margin-left: 6px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 195px;
    margin-right: 1px;
    margin-left: 5px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin: 14px 0 -22px;
  }

  .u-section-7 .u-image-2 {
    min-height: 186px;
    order: 0;
    background-size: 105%;
  }

  .u-section-7 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-image-3 {
    min-height: 202px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 22px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
  }
}